html,body,#app,.el-container{height:100%;margin:0;padding:0;}
/* 右边的样式 */
.el-container .el-header p {color: #666;}

.el-container .el-footer {
    border-top: 1px solid #ccc;
    line-height: 50px;
    font-size: 12px;
    color: #999;
}
.el-container .el-main .el-card__header {
    font-size: 18px;
    font-weight: bold;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
}
.el-container .el-main .el-card {
    border: 1px solid #ccc;
}
.el-card .el-card__body .item p input {
    width: 250px;
}
.el-card .el-card__body .item p span {
    color: #f00;
}