<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>分类管理</title>
    <!-- elementui.css -->
    <link rel="stylesheet" href="node_modules/element-ui/lib/theme-chalk/index.css">
    <!-- vue.js -->
    <script src="js/vue2.5.16.js"></script>
    <!-- elementui.js -->
    <script src="node_modules/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="/market/css/goods.css">
    <!-- 设置session -->
    <script src="/market/api/checklogin.php"></script>
</head>

<body>
    <!-- dom -->
    <div id="app">

        <el-container>
            <!-- 右侧头部 -->
            <el-header height="100px">
                <h1>欢迎您 admin</h1>
                <p>查看和管理所有已有的商品</p>
            </el-header>
            <!-- 右侧主体 -->
            <el-main>
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        <span>商品管理</span>
                    </div>
                    <div class="text item">
                        <el-col :span="24">
                            <div class="grid-content bg-purple-dark" style="border-bottom:4px solid #ccc;padding-bottom:30px;">
                                <el-select v-model="cateid">
                                    <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                                    </el-option>
                                </el-select>
                                关键字:
                                <input v-model="keyword" type="text" id='box' /> (商品名称,条形码)
                                <el-button type="primary" @click="search">查询</el-button>
                            </div>
                        </el-col>
                        <el-table :data="tableData" style="width: 100%">
                            <el-table-column label="商品条形码">
                                <template slot-scope="scope">
                                    <span style="margin-left: 10px">{{ scope.row.code }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column label="商品名称">
                                <template slot-scope="scope">
                                    <span style="margin-left: 10px">{{ scope.row.name }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column label="所属分类">
                                <template slot-scope="scope">
                                    <span style="margin-left: 10px">{{ scope.row.gname }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column label="售价(元)">
                                <template slot-scope="scope">
                                    <span style="margin-left: 10px">{{ scope.row.saleprice }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column label="促销价(元)">
                                <template slot-scope="scope">
                                    <span style="margin-left: 10px">{{ parseInt(scope.row.sale) ? scope.row.saleprice*0.7 : "未促销" }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column label="市场价(元)">
                                <template slot-scope="scope">
                                    <span style="margin-left: 10px">{{ scope.row.marketprice }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column label="库存">
                                <template slot-scope="scope">
                                    <span style="margin-left: 10px">{{ scope.row.num }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column label="库存总额(元)">
                                <template slot-scope="scope">
                                    <span style="margin-left: 10px">{{ scope.row.num*scope.row.costprice }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column label="销售总额(元)">
                                <template slot-scope="scope">
                                    <span style="margin-left: 10px">{{ scope.row.num*scope.row.saleprice }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column label="管理" width="150%">
                                <template slot-scope="scope">
                                    <el-button size="mini" @click="goods_edit(scope.row.id)">编辑</el-button>
                                    <el-button size="mini" type="danger" @click="goods_del(scope.row.id)">删除</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <!-- 分页 -->
                        <el-pagination :current-page.sync="currentPage" @current-change="changepage" style="margin:30px auto;" background layout="prev, pager, next" :page-count="pagecount">
                        </el-pagination>
                    </div>
                </el-card>
            </el-main>
            <!-- 右侧尾部 -->
            <el-footer>
                &copy; Copyright 2018 华联超市管理系统
            </el-footer>
        </el-container>
    </div>

    <!-- js -->
    <script>
        new Vue({
            el: '#app',
            data: {
                keyword: '',
                options: [{
                    value: '0',
                    label: '顶级分类'
                }],
                cateid: '',
                tableData: [],
                pagecount: 1,
                currentPage:1
            },
            methods: {
                goods_del: function (id) {
                    _that = this;
                    //发起ajax请求
                    var xhr = new XMLHttpRequest();
                    xhr.open("get", "/market/api/goods_del.php?id=" + id);
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === 4 && xhr.status === 200) {
                            var data = xhr.responseText;
                            //console.log(data);
                            if (data === "1") {
                                alert("删除成功！！！");
                                _that.showAll();
                            } else {
                                alert("删除失败！");
                            }
                        }
                    }
                    xhr.send();
                },
                goods_edit: function (id) {
                    location.href = "/market/goods_edit.html?id=" + id;
                },
                showpage: function (page) {
                    // 把this保留  this指向vue实例
                    var page = page ? page : 1;
                    var _that = this;
                    //获取的值
                    var cateid = this.cateid;
                    var keyword = this.keyword;
                    // 发送ajax请求 获取数据 渲染账号列表
                    var xhr = new XMLHttpRequest();
                    xhr.open("get", `/market/api/goods_pages.php?page=${page}&cateid=${cateid}&keyword=${keyword}`);
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === 4 && xhr.status === 200) {
                            var data = JSON.parse(xhr.responseText);
                            //跳出最后一条数据
                            _that.pagecount = data.pop();
                            //console.log('111',data);
                            _that.tableData = data;
                        }
                    }
                    xhr.send();
                },
                // 页码改变
                changepage: function (page) {
                    this.showpage(page);
                },
                //搜索
                search: function () {
                    this.showpage();
                    this.currentPage = 1;
                    // var cateid = this.cateid;
                    // var keyword = this.keyword;
                    // var _that =this;
                    // console.log(cateid,keyword);
                    // //发起ajax请求
                    // var xhr = new XMLHttpRequest();
                    // xhr.open("get", `/market/api/goods_search.php?cateid=${cateid}&keyword=${keyword}`);
                    // xhr.onreadystatechange = function () {
                    //     if (xhr.readyState === 4 && xhr.status === 200) {
                    //         var data = JSON.parse(xhr.responseText);
                    //         //console.log(typeof data,data);
                    //         _that.tableData = data;
                    //         _that.pagecount = 1;
                           
                    //     }
                    // }
                    // xhr.send();
                }
            },
            mounted() {
                this.showpage();
                //保存this
                var _that = this;
                //发起请求
                var xhr = new XMLHttpRequest();
                xhr.open("get", "/market/api/classify.php");
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        var data = JSON.parse(xhr.responseText);
                        //console.log(data);
                        _that.options = _that.options.concat(data);
                    }
                }
                xhr.send();
            }
        })
    </script>


</body>

</html>